* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-family: "Poppins", sans-serif;
  --Light: #ffffff;
  --Dark: #2F2F37;
  --Black: #0c0c0c;
  --Grey: hsl(240, 1%, 37%);
  --Grey_2: #D6D0FB;
  --Purple: #f110cc;
  --space-lg: 6rem;
  --space-md: 3rem;
}

.inner-space-md {
  padding-block: var(--space-md);
}

.inner-space-lg {
  padding-block: var(--space-lg);
}

.outer-space-lg {
  margin-block: var(--space-lg);
}

.outer-space-md {
  margin-block: var(--space-md);
}

body {
  background-color: var(--Black);
  line-height: 1.6;
  color: var(--Light);
}

h1 {
  font-size: 3rem;
}

p {
  color: var(--Grey);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

/* Global Classes */
.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

button {
  color: var(--Light);
  background-color: var(--Dark);
  border: none;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 1rem;
  transition: background-color .5s ease;
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease;
  -ms-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  cursor: pointer;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.hidden-lg {
  display: none;
}

.show-lg {
  display: block;
}

button:hover {
  background-color: var(--Purple);
}

/******************************/
/******** Header Styles  ******/
/******************************/
header {
  background-color: var(--Black);
  border-bottom: 1px solid var(--Grey);

}

header nav #logo {
  font-size: 2rem;
  color: var(--Light);
  font-family: "Mrs Sheppards", cursive;
  font-weight: 700;

}

header nav {
  padding: .6rem .8rem;
  border-right: 1px solid var(--Grey);
  border-left: 1px solid var(--Grey);
}

header nav ul {
  gap: 1.5rem;
}

header nav ul li a {
  position: relative;
  color: var(--Light);
  font-size: 1.1rem;
  text-transform: capitalize;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.active {
  color: var(--Purple) !important;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 2px;
  background-color: var(--Purple);
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -ms-transition: width .5s ease;
  -o-transition: width .5s ease;
  bottom: -5px;
}

.active::after {
  width: 50%;
}

#nav-mobile {
  background: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  z-index: 999;
  right: 0;
  width: 200px;
  height: 100%;
  top: 75px;
  transition: all 1s ease-in-out;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

#nav-mobile.show-nav {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

#nav-mobile ul {
  gap: 1rem;
  margin-bottom: 1rem;
}

#toggle {
  font-size: 1.5rem;
  color: var(--Light);
  cursor: pointer;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

#toggle:hover {
  color: var(--Purple);
}

header nav ul li a:hover {
  color: var(--Purple);
}

header nav ul li a:hover::after {
  width: 50%;
  right: 0;
}

/******************************/
/*** Hero Section Styles    ***/
/******************************/
#hero .banner {
  background-image: url(../images/H_abstract.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.banner-right a {
  color: var(--Light);
  font-size: 3rem;
}

.banner-right a .arrow {
  color: var(--Light);
  background-color: var(--Purple);
  width: 100px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;

}

.banner-right a .arrow:hover {
  color: var(--Purple);
  background-color: var(--Light);
}

.categories-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--Dark);
  padding: 10px 0;
  white-space: nowrap;
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: 0 -2px 10px rgba(35, 33, 33, 0.856);
}
.categories-nav div{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.categories-nav a {
  color: var(--Grey_2);
  margin: 0 10px;
  font-size: 14px;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.categories-nav img {
  margin: 0 5px;
  width: 40px;
  height: 40px;
}


/******************************/
/*** Footer  Styles    ***/
/******************************/



#footer-bottom {
  padding: .5rem 0;
  background-color: var(--Black);
  border-top: 1px solid var(--Grey);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#footer-bottom a {
  color: var(--Light);
  font-size: 3rem;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

#footer-bottom a:nth-child(1):hover {
  color: var(--Purple);
}

#footer-bottom a:nth-child(2):hover {
  color: red;
}

#footer-bottom a:nth-child(3) {
  color: rgb(0, 255, 55);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  animation: sm-shake-animation linear 1.5s infinite;
  -webkit-animation: sm-shake-animation linear 1.5s infinite;
  -moz-animation: sm-shake-animation linear 1.5s infinite;
  -ms-animation: sm-shake-animation linear 1.5s infinite;
  -o-animation: sm-shake-animation linear 1.5s infinite;
}

@keyframes sm-shake-animation {
  0% {
    transform: rotate(0) scale(1.3) skew(0.017rad);
    -webkit-transform: rotate(0) scale(1.3) skew(0.017rad);
    -moz-transform: rotate(0) scale(1.3) skew(0.017rad);
    -ms-transform: rotate(0) scale(1.3) skew(0.017rad);
    -o-transform: rotate(0) scale(1.3) skew(0.017rad);
  }

  25% {
    transform: rotate(0) scale(1.3) skew(0.017rad);
    -webkit-transform: rotate(0) scale(1.3) skew(0.017rad);
    -moz-transform: rotate(0) scale(1.3) skew(0.017rad);
    -ms-transform: rotate(0) scale(1.3) skew(0.017rad);
    -o-transform: rotate(0) scale(1.3) skew(0.017rad);
  }

  35% {
    transform: rotate(-0.3rad) scale(1.3) skew(0.017rad);
    -webkit-transform: rotate(-0.3rad) scale(1.3) skew(0.017rad);
    -moz-transform: rotate(-0.3rad) scale(1.3) skew(0.017rad);
    -ms-transform: rotate(-0.3rad) scale(1.3) skew(0.017rad);
    -o-transform: rotate(-0.3rad) scale(1.3) skew(0.017rad);
  }

  45% {
    transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
    -webkit-transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
    -moz-transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
    -ms-transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
    -o-transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
  }

  55% {
    transform: rotate(-0.3rad)scale(1.3) skew(0.017rad);
    -webkit-transform: rotate(-0.3rad)scale(1.3) skew(0.017rad);
    -moz-transform: rotate(-0.3rad)scale(1.3) skew(0.017rad);
    -ms-transform: rotate(-0.3rad)scale(1.3) skew(0.017rad);
    -o-transform: rotate(-0.3rad)scale(1.3) skew(0.017rad);
  }

  65% {
    transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
    -webkit-transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
    -moz-transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
    -ms-transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
    -o-transform: rotate(0.3rad) scale(1.3) skew(0.017rad);
  }

  75% {
    transform: rotate(0) scale(1.3) skew(0.017rad);
    -webkit-transform: rotate(0) scale(1.3) skew(0.017rad);
    -moz-transform: rotate(0) scale(1.3) skew(0.017rad);
    -ms-transform: rotate(0) scale(1.3) skew(0.017rad);
    -o-transform: rotate(0) scale(1.3) skew(0.017rad);
  }

  100% {
    transform: rotate(0) scale(1.3) skew(0.017rad);
    -webkit-transform: rotate(0) scale(1.3) skew(0.017rad);
    -moz-transform: rotate(0) scale(1.3) skew(0.017rad);
    -ms-transform: rotate(0) scale(1.3) skew(0.017rad);
    -o-transform: rotate(0) scale(1.3) skew(0.017rad);
  }
}